.editor-root {
  align-items: stretch;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 500px;
}

.editor-text {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
  line-height: 21px;
}

.editor-line-numbers {
  align-items: center;
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 70px;
}

.editor-line-number {
  color: rgb(35, 120, 147);
  text-align: right;
  width: 23px;
}

.editor-workspace {
  flex: 1 1 auto;
  position: relative;
}

.editor-lines {
  user-select: none;
}

.editor-line {
  color: rgb(0, 0, 0);
  height: 21px;
  margin: 0;
}

.editor-cursor-overlay {
  cursor: text;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.editor-cursor {
  animation: cursor-blink 0.5s steps(2, start) 0.25s infinite alternate;
  background-color: rgb(0, 0, 0);
  height: 21px;
  position: absolute;
  width: 2px;
}

@keyframes cursor-blink {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
